@import './default.css';

.aboutContainer { 
    display: flex;
    flex-direction: row;
    padding: 100px;
    height: 50%;
    position: relative;
}

.aboutNav,
.aboutItem {
    background-color: var(--strongerColorBackground);
    border-radius: var(--defaultBorderRadius);
}

.aboutNav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 50%;
    justify-content: space-around;
    position: fixed;
}

.aboutContent {
    width: 90%;
    margin-right: 0;
    height: 100%;
    margin-left: auto;
}

.aboutContent > div {
    margin-bottom: 40px;
}

.aboutItem {
    height: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.aboutItemMain {
    margin-left: 30px;
}

.aboutSectionContent {
    font-size: var(--defaultFontHeight);
}

.aboutNavItem:hover,
.showMoreLink:hover {
    cursor: pointer;
    color: var(--defaultColor);
}

.aboutNavItem:hover {
    transform: scale(1.1)
}

.aboutImage {
    max-height: 400px;
    border-radius: var(--defaultBorderRadius);
    -webkit-box-shadow: 10px 10px 65px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 65px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 65px -5px rgba(0,0,0,0.75);
}

.showMoreLink {
    text-decoration: underline;
}

.workItemsWrapper,
.educationItemsWrapper,
.hobbiesItemsWrapper {
    width: 100%;
}